@font-face {
  font-display: swap;
  font-family: 'MacPaw Fixel Display';
  src: url('../fonts/MacPawFixelDisplay-Bold.otf') format('opentype'),
    url('../fonts/MacPawFixelDisplay-Bold.woff') format('woff'),
    url('../fonts/MacPawFixelDisplay-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: 'MacPaw Fixel Display';
  src: url('../fonts/MacPawFixelDisplay-ExtraBold.otf') format('opentype'),
    url('../fonts/MacPawFixelDisplay-ExtraBold.woff') format('woff'),
    url('../fonts/MacPawFixelDisplay-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-display: swap;
  font-family: 'MacPaw Fixel Display';
  src: url('../fonts/MacPawFixelDisplay-Light.otf') format('opentype'),
    url('../fonts/MacPawFixelDisplay-Light.woff') format('woff'),
    url('../fonts/MacPawFixelDisplay-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: 'MacPaw Fixel Display';
  src: url('../fonts/MacPawFixelDisplay-Medium.otf') format('opentype'),
    url('../fonts/MacPawFixelDisplay-Medium.woff') format('woff'),
    url('../fonts/MacPawFixelDisplay-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: 'MacPaw Fixel Display';
  src: url('../fonts/MacPawFixelDisplay-Regular.otf') format('opentype'),
    url('../fonts/MacPawFixelDisplay-Regular.woff') format('woff'),
    url('../fonts/MacPawFixelDisplay-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'MacPaw Fixel Display';
  src: url('../fonts/MacPawFixelDisplay-SemiBold.otf') format('opentype'),
    url('../fonts/MacPawFixelDisplay-SemiBold.woff') format('woff'),
    url('../fonts/MacPawFixelDisplay-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: 'MacPaw Fixel Display';
  src: url('../fonts/MacPawFixelDisplay-Thin.otf') format('opentype'),
    url('../fonts/MacPawFixelDisplay-Thin.woff') format('woff'),
    url('../fonts/MacPawFixelDisplay-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Black.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-Black.woff') format('woff');
    /* url('../fonts/SF-Pro-Display-Black.woff2') format('woff2'); */
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-BlackItalic.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-BlackItalic.woff') format('woff');
    /* url('../fonts/SF-Pro-Display-BlackItalic.woff2') format('woff2'); */
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Bold.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    /* url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'); */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-BoldItalic.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-BoldItalic.woff') format('woff'),
    url('../fonts/SF-Pro-Display-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Heavy.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-Heavy.woff') format('woff'),
    url('../fonts/SF-Pro-Display-Heavy.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-HeavyItalic.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-HeavyItalic.woff') format('woff'),
    url('../fonts/SF-Pro-Display-HeavyItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Light.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-Light.woff') format('woff'),
    url('../fonts/SF-Pro-Display-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-LightItalic.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-LightItalic.woff') format('woff'),
    url('../fonts/SF-Pro-Display-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Medium.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-Medium.woff') format('woff'),
    url('../fonts/SF-Pro-Display-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-MediumItalic.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-MediumItalic.woff') format('woff'),
    url('../fonts/SF-Pro-Display-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-Regular.woff') format('woff'),
    url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-RegularItalic.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-RegularItalic.woff') format('woff'),
    url('../fonts/SF-Pro-Display-RegularItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Semibold.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-Semibold.woff') format('woff'),
    url('../fonts/SF-Pro-Display-Semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-SemiboldItalic.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-SemiboldItalic.woff') format('woff'),
    url('../fonts/SF-Pro-Display-SemiboldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Thin.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-Thin.woff') format('woff'),
    url('../fonts/SF-Pro-Display-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-ThinItalic.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-ThinItalic.woff') format('woff');
    /* url('../fonts/SF-Pro-Display-ThinItalic.woff2') format('woff2'); */
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Text';
  src: url('../fonts/SF-Pro-Display-Ultralight.otf') format('opentype'),
    url('../fonts/SF-Pro-Display-Ultralight.woff') format('woff');
    /* url('../fonts/SF-Pro-Display-Ultralight.woff2') format('woff2'); */
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-display: swap;
  font-family: 'SF Pro Text';
  src: url('../fonts/SF-Pro-Display-UltralightItalic.otf') format('opentype');
  font-style: italic;
  font-weight: 200;
}
